.header{
    padding: 0 16px;
    font-size: 24px;

    &__col{
        font: inherit;
        margin: 24px 0;
        
        &__cart{
            position: relative;
            display: inline;
            &__icon{
                margin-right: 10px;
            }
            &__count{
                position: absolute;
                top: -5px;
                right: 2px;
                background: red;
                border-radius: 1000px;
                color: white;
                width: 19px;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .header__col--position{
        cursor: pointer;
        text-align: right;
        margin-inline-start: 33.33333333333333%;
    }
}